/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header styles */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px 20px;
    border: solid 0.5px var(--third-color);
    height: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 80px;
    border-radius: 5px;
}

.logo-container .header-title {
    color: white;
    font-size: 2rem;
    margin-left: 10px;
    white-space: nowrap;
}

.nav-container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
}

.main-nav a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: solid 3px var(--third-color);
}

.main-nav a:hover {
    background-color: var(--third-color);
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="search"] {
    padding: 5px 10px;
    border: solid 3px var(--third-color);
    border-radius: 5px;
}

.search-container button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
}

/* Form styles */
form {
    background-color: var(--primary-color);
    padding: 20px;
    border: solid 2px var(--third-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

form th, form td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

form th {
    background-color: #3498db;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

form td {
    background-color: #ecf0f1;
    color: #333;
    text-align: center;
    font-size: 0.9rem;
}

form button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #1f5f8a;
    transform: scale(1.05);
}

/* Footer styles */
.main-footer {
    background-color: var(--background-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-bottom {
    background-color: #34495e;
    color: white;
    padding: 10px;
}

.footer-bottom img {
    height: 30px;
    margin-bottom: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    .main-header {
        flex-wrap: wrap;
    }

    .nav-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .main-nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        color: #ecf0f1;
    }
}
