* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(Images/Scenary_background.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom:15px;
  color: var(--heading-color);
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeInSlideUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.profile-card {
  width: 100%;
  max-width: 800px;
 background: rgba(255, 255, 255, 0.1);
 
  border-radius: 16px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1.5px solid var(--primary-color);
  padding: 30px;
  text-align: center;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-content div {
  background: rgba(111, 175, 220, 0.2); 
  padding: 20px;
  border-radius: 8px;
  border: 1.5px solid var(--primary-color);

}
.profile-content h2 {
  margin-bottom: 10px;
  color: var(--heading-color);
}

.profile-content p {
  color: var(--text-color);
  padding: 8px;
  font-weight: bold;
}

.reports ul {
  list-style-type: none;
  padding: 0;

}

.reports ul a {
  color: var(--third-color);
  text-decoration: underline;
  font-weight: bold;
  color: var(--third-color);
}

ul li a:hover {
  text-decoration: none;
}


.reports ul a:hover {
  color: var(--background-color);
}
